{
    "presets": [
        ["env", {
            "exclude": ["transform-regenerator"]
        }]
    ],
    "plugins": [
        ["fast-async", {
            "useRuntimeModule": true
        }]
    ]
}